@import '../../00-global/functions';
@import './variables';

@mixin counter ($size, $color) {
  background:   $color;
    color:      color-contrast-function($color);
    width:      $size;
    height:     $size;
    padding:    $size;
    @include    inline();
    @include    circle();
}