@import '../../00-global/functions';
@import './variables'; 

@mixin counter ($size : $incrementor-size, $color : $incrementor-color) {
  background:   $color;
    color:      color-contrast($color);
    width:      $size;
    height:     $size;
    padding:    $size;
    @include    inline();
    @include    circle();
}
